.app header {
  padding-top: 0.5em;
  padding-left: 1em;
  border-bottom: 5px solid #BBBBFF;
}

.app header>nav {
  padding-left: 1.5em;
  padding-bottom: 0.75em;
  font-family: monospace;
}

.app section.content-container {
  padding: 0.75em 2em;
  background-color: #DDEEFF;
}

.app footer {
  padding-top: 1.5em;
  padding-left: 1.5em;
  border-top: 5px solid #BBBBFF;
}
